.card {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 16px;
  font-weight: bold;
}

.job-card {
  background: white;
  margin-top: 16px;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.empty-state {
  text-align: center;
  padding: 50px;
  color: #64748B;
}